h1 {
    color: red;
    text-align: center;
}

.panel-body {
    background-color: rgb(243, 196, 67, 0.5);
    padding: 30px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    justify-content: center;
}