<div class="navigation" style="background-color:rgb(243, 196, 67, 0.5);">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand"style="color:white;text-shadow: 2px 2px 10px blue;font-size:26px;" href="/"><span style="color:red;font-size:26px;text-shadow: 2px 2px 10px blue;" >ESTATE</span>-ALERTS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;"href="/accounts/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "style="color:white;" href="/accounts/register">SignUp</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link"style="color:white;" href="/accounts/logout ">LogOut</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>